@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(240, 250, 254);
    border:sticky;
    
}

.login{
    width: 80px;
    height: 40px;
    background-color: blue;
    border-radius: 4px;
    color: white;
    transform: translateY(50px);
    margin-left: -170px;
}
.input{
    border: 3px solid blueviolet;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    
}
.container{
  height: 100vh;
  
}


@media (max-width: 700px){
  
  .img{
    margin-top: -40px;
  }
  .input{
    width: 300px;
    margin-top: 10px;
    transform: translateX(70px);
    border: 3px solid blueviolet;
  }
  .login{
    transform: translateY(40px);
    margin-left: -130px;
    transform: translateY(50px);

  }.head{
    visibility: hidden;
  }
  .list li{
    margin-left: -40px;
  }
  .content{
    margin-top: 50px;
    transform: translateX(-85%);
    margin-right: -20px;
    transform: translateX(-480px);
    
    
  }
  .fa-microphone{
     margin-top: -30px;
     
  }

 .home-con{
  width: 500px;
  margin:-40px;

 }
 
 
 .swiper {
  left: 0%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  height: 300px;
  position:fixed;
  margin-top: 40px;
  transform:translateY(-10%);
  
 }

 .home-con1 {
  font-size: 10px;
 }
 .btn{
  visibility: hidden;
 }
 .cont-img{
   transform:translateY(-20%);
 }
 .resource{
  border:sticky;
  height:100vh;
  display:flex;
  transform:translateX(-30%);
  width: 900px;
  height: 300px;
   margin-right: 20px;
  align-items:center;
  text-align:center;
  background: linear-gradient(
    135deg,
    purple 20%,
    orange 80%
);;
position: fixed;

 
 }
 .container-resource p{
  transform:translateY(-1500%);
 }

 
 .speech {
  transform: translate(-50% ,-100%);
 }
 .image-res img{
  visibility:hidden;
 }
 .resource p{

 }
 
}
@media (max-width:350px){
    .input{
        transform: translateX(-0px);

    }
    .login{
       margin-left: 120px;
       margin-top: -40px;
    }
    .list li{
       margin-left: -30px;
       font-size: 12px;

    }
    .head{
        margin-left: 0px;
        margin-bottom: -30px;
        visibility: hidden;

    }
    .logo{
        
    }
    
}
.home-con{
  justify-content: center;
  display: flex;
  transform: translateY(80px);
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 200px;
  background-color: lightblue;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transform:translateX(9px);
  margin-top: 5px;
}
.home-con h1{
 transition: .2s ease-in-out;
}

.home-con1{
   margin-top: 20px;
  display: flex;
  transform: translateY(150px);
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-width: 350px;
  white-space: nowrap;
  
}
.logout{
  float: right;
  

}
.content{
  width: 600px;
  height: 200px;
  margin-left: 30px;
 
}
.content p{
  font-size: 15px;
}
.homeCon1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  
}

.cont-img{
 margin-top: 40px;
 
}

.cont-img p{
  font-size: 16px;
  text-transform: uppercase;

}
.swiper{
  right: -0%;
  margin-top: 10%;
  border-radius: 20px; 

}
.swiper img{
 transform: translateX(20%);
 border-radius:20px;
 margin-bottom: 20px;
}
 .btn{       
background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
margin: 10px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #eee;
border-radius: 10px;
transform: translateX(440%);
margin-top: 60px;
 }
.btn:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}
.logout{
  padding: 10px 15px;
  background-color: lightblue;
  margin-top: 10px;
  border-radius:5px;


}
.image-res{
  margin-top: -250px;
  margin-left: -135px;


}
.image-res img{
  border-radius: 10px;
}
.resource{
   margin:0;
  display: flex;
   justify-content:center;
   align-items:center;
   
   background: linear-gradient(
    135deg,
    purple 20%,
    orange 80%
);;
   width: -600px;
   height: 700px;
   margin-left: 250px;
   margin-right: 250px;
   margin-bottom: 250px;
   margin-top: -10px;
   
}
.resource button{
  margin-left: -50px;
  transform: translateX(-40%);
  width: 150px;
  height: 60px;
}
.speech{
    display:flex;
    margin-top: 90px;
    margin-right: -360px;

}
.micro{
  width: 190px;
  background-color: lightblue;
  
}
.btn1{
  background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
  margin: 10px;
  padding: 13px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: flex;
}

.btn1:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn2{
  background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
  margin: 10px;
  padding: 13px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn3{
  background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
  margin: 10px;
  padding: 13px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn3:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.container-resource{
   transform:translate(-420%,100%);
   margin-top: 20px;
   font-size:15px;
}

.container-resource p{
  font-size:15px;
  font-family: sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  margin-left: 190%;
  white-space: nowrap;
  margin-bottom: 20px;
  color: black;
  margin-right: -40px;
  margin-bottom: 40px;
  

}