@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    border:sticky;
    color: white;
    
}
.image-home img{
   margin-left: 100px;
   border-radius: 20px;
   border: 2px solid black;
}
.image-home p{
  margin-left: 690px;
  margin-top: -250px;
  width: 500px;
  height: 150px;
  background-color: white;
  text-align: center;
  border: #007bff solid 2px;
  color: black;
  

 
}
.limiter{
  width: 450px;
  height: 300px;
  background-color: lightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 450px;
  margin-top: 150px;
  border-radius: 10px;
  color: gray;
}

.login100-form-title {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.wrap-input100{
  margin-top: 10px;
  width: 70px;
}
.login100-form-btn{
  margin-top: 10px;
  width: 50px;
  height: 40px;
  margin-left: 50px;
}
.txt1{
  margin-top: 20px;
  margin-left: 20px;
}
.input100{
  width: 250px;
  height:40px;
  margin-left: -40px;
  border-color: none;
}

.login{
    width: 80px;
    height: 40px;
    background-color: blue;
    border-radius: 4px;
    color: white;
    transform: translateY(50px);
    margin-left: -170px;
}
.input{
    border: 3px solid blueviolet;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    
}
.container-prod .image-home{
  margin-top: 200px;
  margin-left: -650px;
}
@media (max-width:650px){
  .limiter{
    margin-left: 25px;
  }
}
.container{
  height: 100vh;
  
}



@media (max-width: 700px){
  
  .img{
    margin-top: -40px;
  }
  .input{
    width: 300px;
    margin-top: 10px;
    transform: translateX(70px);
    border: 3px solid blueviolet;
  }
  .login{
    transform: translateY(40px);
    margin-left: -130px;
    transform: translateY(50px);

  }.head{
    visibility: hidden;
  }
  .list li{
    margin-left: -70px;

  }
  .content{
    margin-top: 50px;
    transform: translateX(-75%);
    margin-right: -20px;
    transform: translateX(-500px);
    
    
  }
  .content p{
    font-size: 17px;

  }
  .fa-microphone{
     margin-top: -30px;
     
  }

 .home-con{
  width: 500px;
  margin: -25px;  
 }
 
 
 .swiper {
  left: 0%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  height: 300px;
  position:fixed;
  margin-top: 40px;
  transform:translateY(-10%);
  
 }

 .home-con1 {
  font-size: 10px;
 }
 .btn{
  visibility: hidden;
 }
 .cont-img{
   transform:translateY(-20%);
 }
 .resource{
  border:sticky;
  height:100vh;
  display:flex;
  transform:translateX(-30%);
  width: 900px;
  height: 300px;
   margin-right: 20px;
  align-items:center;
  text-align:center;
  background: linear-gradient(
    135deg,
    purple 20%,
    orange 80%
);;
position: fixed;

 
 }
 /*products page*/
 .container-resource p{
  transform:translateY(-1500%);
  
 }
 .container-prod .content{
  margin-left: -200px;
  width: 200px;
  width: 300px;
  height: 90px;

}

.container-prod .home-con1 li{
 justify-content: center;
 display: flex;
 align-items: center;
 text-align: center;

}
 
 .speech {
  transform: translate(-50% ,-100%);
 }
 .image-res img{
  visibility:hidden;
 }
 .resource p{

 }
 
}
@media (max-width:350px){
    .input{
        transform: translateX(-0px);

    }
    .login{
       margin-left: 120px;
       margin-top: -40px;
    }
    .list li{
       margin-left: -30px;
       font-size: 12px;

    }
    .head{
        margin-left: 0px;
        margin-bottom: -30px;
        visibility: hidden;

    }
    .logo{
        
    }
    
}
 /*home page*/
.home-con{
  justify-content: center;
  display: flex;
  transform: translateY(80px);
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transform:translateX(20px);
  margin-top: 5px;
  
}
.home-con h1{
 transition: .2s ease-in-out;
 
}
.container-prod .content{
 width: 300px;
 height: 200px;
  margin-top: -30px;
  background-color: yellow;
  text-align: center;
}
.container-prod .button3{
   margin-left: 20px;
}


.home-con1{
   margin-top: 20px;
  display: flex;
  transform: translateY(150px);
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-width: 350px;
  white-space: nowrap;
  margin-left: 20px;
  
}
.cont-img{
  margin-left: 20px;
}
.logout{
  float: right;
  

}
.image-home
.content{
  width: 500px;
  height: 200px;
  margin-left: 10px;
 
}

.content p{
  font-size: 15px;
  color: gray;
  margin: 10px ;
  transform: translateX(80px);
}
.homeCon1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  
}

.cont-img{
 margin-top: 40px;
 
}

.cont-img p{
  font-size: 16px;
  text-transform: uppercase;

}
.swiper{
  right: -0%;
  margin-top: 10%;
  border-radius: 20px; 

}
.swiper img{
 transform: translateX(20%);
 border-radius:20px;
 margin-bottom: 20px;
}
 .btn{       
background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
margin: 10px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #eee;
border-radius: 10px;
transform: translateX(440%);
margin-top: 60px;
 }
.btn:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}
.logout{
  padding: 10px 15px;
  background-color: lightblue;
  margin-top: 10px;
  border-radius:5px;


}
.image-res{
  margin-top: -250px;
  margin-left: -135px;


}
.image-res img{
  border-radius: 10px;
}
.resource{
   margin:0;
  display: flex;
   justify-content:center;
   align-items:center;
   
   background: linear-gradient(
    135deg,
    purple 20%,
    orange 80%
);;
   width: -600px;
   height: 700px;
   margin-left: 250px;
   margin-right: 250px;
   margin-bottom: 250px;
   margin-top: -10px;
   
}
.resource button{
  margin-left: -50px;
  transform: translateX(-40%);
  width: 150px;
  height: 60px;
}
.speech{
    display:flex;
    margin-top: 90px;
    margin-right: -360px;

}
.micro{
  width: 190px;
  background-color: lightblue;
  
}
.btn1{
  background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
  margin: 10px;
  padding: 13px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: flex;
}

.btn1:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn2{
  background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
  margin: 10px;
  padding: 13px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn3{
  background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
  margin: 10px;
  padding: 13px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn3:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.container-resource{
   transform:translate(-420%,100%);
   margin-top: 20px;
   font-size:15px;
}

.container-resource p{
  font-size:15px;
  font-family: sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  margin-left: 190%;
  white-space: nowrap;
  margin-bottom: 20px;
  color: black;
  margin-right: -40px;
  margin-bottom: 40px;
  

}
.resources-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
 
  

}



.resources-container .resource-head{
  font-size: 18px;
  margin-bottom: 20px;
  transition: font-size 0.4s ease-in-out;
  border-bottom: 1px solid blue;
}



li {
  margin-bottom: 10px;
  display:flex;
  white-space:nowrap;
}
.corona-img img{
  margin-top: 120px;
  padding: 0 10px;
  
 
}
.resources-container img{
   border-radius: 6px;
}

@media (max-width:650px){
/*products page*/
  .list-prod {
    flex-direction: row;
    
  
   
  }
.container-prod .image-home{
  margin-left: -1135px;
  width: 200px;
  height: 100px;
  margin-top: 360px;

}

 li {
   flex-direction: column;
 }

 .corona-img img{
  margin-left: 380px;
  margin-top: -10px;
  padding: 0 2px;
 }
 a{
  transform: translateX(50%);
  margin-bottom: 30px;
 }
 
 .button1{
  transform: translateX(-650%);
 }
 .button2{
  transform: translateX(250%);
 }
 .health {
  transform:translateX(-10%);
 }
 .contentWHO {
   transform:translate(150%,-40%);
   height: 30px;
   margin-left:10px;
   font-size:12px;
   text-align:center;
   margin-top: -30px;
   margin-right: 40px;
   
 }
 .swiper1{
  right: -40%;
  margin-top: -20px;
  border-radius: 20px; 
  

 }
 .swiper1 img{
  border-radius:20px;
  transform:translateX(-50%);
  
 
 }
 .resources-container .contentWHO {
   margin-top: 80px;
   height: 90px;
   position:fixed;
 }
 .product h1 {
   white-space: nowrap;
   transform:translateX(40%);
 }
 .button3{
  width: 40px;
  height: 20px;
   
 }

}
.corona-img{
  margin-left: -350px;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-left: 60px;
  margin-top: 40px;
  
}
.source1{
  float:left;
  margin-top: 70px;
 
}

.contentWHO{
  margin-left: -1180px;
  margin-top: 160px;
  text-decoration:none;
  background-color:lightblue;
  width: 680px;
  height: 200px;
  text-align:center;
  align-items:center;
  font-size: 17px;

}

a:hover {
  text-decoration: underline;
}

.button1{
  width: 90px;
  height: 60px;
  background-color: lightblue;
  border-radius: 10px;
  margin-left: 900px;
  justify-content:center;
 
}
.home-con1 .button3{
  font-size: 15px;
}
.button2{
  width: 90px;
  height: 60px;
  background-color: lightblue;
  border-radius: 10px;
  margin-left: -200px;
  margin-top: -140px;
}


.button3{
  width: 65px;
  height: 60px;
  background-color: lightblue;
  border-radius: 10px;
  justify-content:center;
  text-align:center;
  align-items:center;
  
  


}
 /*products page*/

.list-prod{
  display: flex;
}




