@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(240, 250, 254);
}

.login{
    width: 80px;
    height: 40px;
    background-color: blue;
    border-radius: 4px;
    color: white;
    transform: translateY(50px);
    margin-left: -170px;
}
.input{
    border: 3px solid blueviolet;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    
}



@media (max-width: 650px){
  
  .img{
    margin-top: -40px;
  }
  .input{
    width: 300px;
    margin-top: 10px;
    transform: translateX(50px);
    border: 3px solid blueviolet;
  }
  .login{
    transform: translateY(40px);
    margin-left: -130px;
    transform: translateY(50px);

  }

}
@media (max-width:350px){
    .input{
        transform: translateX(-0px);

    }
    .login{
       margin-left: 120px;
       margin-top: -40px;
    }
    .list li{
       margin-left: -20px;
       font-size: 12px;

    }
    .head{
        margin-left: 0px;
        margin-bottom: -30px;
        visibility: hidden;


    }
    .logo{
        
    }
}